*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  background: #ecf0f1;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 88%;
  margin: auto;
}

.slider {
  z-index: 12;
  width: 4rem;
  height: 4rem;
  padding: 1.3rem;
  background-color: #424949;
  color: #fff;
  border: none;
}

.slider:focus,
.slider:active {
  outline: none;
}

.slide--left {
  margin-right: 1rem;
}

.slide--right {
  margin-left: 1rem;
}

.carousel {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  transition: transform 300ms ease-in-out;
  overflow-x: hidden;
}

.carousel .contributors {
	position: relative;
	min-width: calc(33.33% - 42px);
	padding: 1rem;
	text-align: center;
	font-size: 1.2rem;
	background: #fff;
	border-radius: 1rem;
	transition: transform ease-in-out 0.6s;
	margin: 0 21px;
}

.carousel .contributors__image {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  margin: auto;
  width: 12rem;
  border: 7px solid #fff;
  border-radius: 50%;
}

.carousel .contributors__rating {
  margin: 6rem 0 1rem;
  font-size: 1rem;
}

.carousel .contributors__name {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 800;
}

.carousel .contributors__designation {
  display: block;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.carousel .contributors__detail {
  font-size: 1.4rem;
  color: #333;
}

